@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-bg-main: #06080c;
  --color-bg-card: #0f1318;
  --color-red-main: #eb0237;
  --color-red-hvr: #a01131;
  --color-red-dsbl: #701328;
  --color-green-main: #43ad28;
  --color-orange-main: #eb6402;
  --color-white-main: #ffffff;
}

@font-face {
  font-family: Tactic Sans;
  src: url(assets/fonts/tactic-sans-regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  min-width: 320px;
  min-height: 100vh;
  background-color: #06080c;
}
#root {
  height: 100%;
}
